@import url('https://fonts.googleapis.com/css?family=Lato:regular');
@import url('https://fonts.googleapis.com/css?family=Sarabun:bold');

.App {
  font-size: medium;
}

body {
  font-family: "Lato", sans-serif;
}

.login-app {
  margin-left: 200px;
}

.header {
  color: white;
  padding: 3px 10px 3px 10px;
  margin-top: 5px;
  font-size: xx-large;
  margin-bottom: 40px;
  display: inline-flex;
  font-family: "Sarabun", sans-serif;
}

.version {
  background-color: #505050;
  font-size: small;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px 0px 0px 20px;
  padding: 1px 5px 1px 5px;
}

.languages {
  display: inline-flex;
  padding-right: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px 20px 0px 0px;
}
.flag {
  padding-left: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  align-items: center;
  padding: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.app-title {
  text-align: center;
  color: #0d6efd;
  text-decoration: underline;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  min-width: 500px;
  border-radius: 5px;
}


.label-field {
  margin-bottom: 15px;
}


.label {
  color: #505050;
  padding-right: 3px;
  font-size: large;
  font-weight: bold;
  margin-right: 15px;
  display: inline-block;
  width: 130px;
  text-align: right;
}

.field {
  width: 355px;
}

.show-password {
  display: absolute;
  margin-top: -27px;
  margin-left: 476px;
}

.login-error {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 620px;
  align-items: center;
}

.error-message {
  color: #ef3038;
  background-color: white;
  text-align: center;
  min-width: 620px;
  border: 1px solid #ef3038;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.react-select--inline {
  display: inline-block;
}

.login-button {
  margin-top: 20px;
  min-height: 20px;
  min-width: 250px;
  padding: 5px 20px 5px 20px;
  font-size: 30px !important;
  font-weight: bold !important;
}

#forgot-password {
  margin-top: 10px;
  max-width: 700px !important;
}

#forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password-title {
  text-align: center;
  color: #0d6efd;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.forgot-password-subtitle {
  text-align: center;
  color: #505050;
  font-size: 16px;
}

.email-label-field {
  margin-bottom: 10px;
}

.forgot-password-button {
  margin: 10px 10px 10px 30px;
  min-height: 50px;
  height: 50px;
  min-width: 200px;
  padding: 5px 20px 5px 20px;
  font-size: 18px !important;
  font-weight: bold !important;
  color: white;
  background-color: #0d6efd;
  border-radius: 5px;
}

.forgot-password-button-left {
  margin-right: 30px;
}