.App {
  text-align: center;
  font-size: medium;
}

.title {
  color: white;
  background-color: #505050;
  padding: 3px 10px 3px 10px;
  margin-top: 5px;
  font-size: xx-large;
  margin-bottom: 40px;
  display: inline-flex;
}

.languages {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px 20px 0px 0px;
}

.flag {
  padding-left: 10px;
}

.label-field {
  margin-bottom: 15px;
}

.label {
  /* color: #505050; */
  color: white;
  background-color: #505050;
  padding-right: 3px;
  font-size: large;
  font-weight: bold;
  margin-right: 15px;
  display: inline-block;
  width: 130px;
  text-align: right;
}

.field {
  width: 200px;
}

.error-message {
  margin-top: 20px;
  color: #ef3038;
}

.react-select--inline {
  display: inline-block;
}

.login-button {
  margin-top: 20px;
  min-height: 20px;
  min-width: 150px;
  padding: 5px;
  font-size: large;
}